@tailwind base;
@tailwind components;
@tailwind utilities;

html, * {
  scroll-behavior: smooth !important;
}
html::-webkit-scrollbar {
  display: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #ffffff !important;
}

input, textarea {
  caret-color: #FFAE81;
}

@layer components {
  .btn {
    @apply

    bg-color-accent
    text-color-white
    px-4
    py-[0.3rem]
    rounded-full
    transition-transform
    duration-300
    cursor-pointer
    text-sm
    font-extralight
  }
  .btn:hover {
    @apply
    -translate-y-1
  }

  .scroll-down {
    @apply

    -translate-y-full
  }

  .scroll-up {
    @apply
    bg-gradient-to-b from-color-bg
  }

  .minh {
    min-height: calc(100dvh - 64px);
    min-height: calc(100vh - 64px);
  }
  .h-full-screen {
    height: calc(100dvh - 64px);
    height: calc(100vh - 64px);
  }

  .pls {
    @apply
    pl-8
  }
  .prs {
    @apply
    pr-8
  }

  .h2-style {
    @apply
    text-color-secondary
    text-2xl
  }
}